.shudan-goban-image {
  background-image: url('img/background.png');
}

.shudan-stone-image.shudan-sign_1 {
    background-image: url('img/blue.png');
}

.shudan-stone-image.shudan-sign_-1 {
    background-image: url('img/purple.png');
}
